*{
	box-sizing: border-box;
	padding: 0px ;
	margin: 0px ;
}
html {
  scroll-behavior: smooth;
}
body{
	font-family: "Rubik", serif;
	color: #fff;
	font-weight: 700;
}
/*Navbar*/
nav{
	z-index: -1;
}
.nav-item{
	margin-right: 30px;
}
#nav-links{
	color: #000;
	font-family: 
}
#nav-links:hover{
	transition: all .3s ease-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    color: #fff;
}
/*End of Header*/
body{
	background-image: url('images/solar_house.jpg');
	background-repeat: no-repeat;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 105vh;
	width: 100%;
	margin: 0px;
}
/*Solar Panels*/
#cover h1{
	font-family: 'Prompt', sans-serif;
	font-weight: 400;
	color: #e08024;
}
/*Green Energy*/
#cover .green_energy{
	font-weight: 800;
	color: #f4e3c9;
	font-family: 'Rubik', sans-serif;
}
/*Convert Sunlight*/
#cover .col-4:nth-of-type(1) span{
	color: #e08024;
}
#cover .col-4:nth-of-type(3) span{
	color: #52a039;
}
.green_color{
	color: #52a039;
}
.orange_color{
	color: #e08024;
}
#about{
	background-color: #121212;
}
#about p{
	color: #fff;
}
h1{
	font-family: 'Prompt', sans-serif;
	font-size: 3em;
	font-weight: 600;
}
#products div.product-device{
	background-image: url('images/panel1.png');
	background-repeat: no-repeat;
	background-position: right center;
}
#products h1,p{
	color:#000;
}
#products div.layers{
	padding-top: 5vh;
}
.specs h1{
	font-size: 2em;
}
.specs_content1 h4{
	color:#fff;
}
.specs_content2 h4{
	color:#fff;
}
.pricing-header p{
	color:#fff;
}
.card-body ul,h1,h4{
	color:#000;
}
.testimonial div.container-fluid{
	background-color: #0b0b0b;
}
.testimonial .container-fluid h1{
	font-family: 'Prompt', sans-serif;
	font-size:3em;
	font-weight: 700;
}
h1{
	font-weight: 700;
}
div.thankyou{
	padding-top: 2vh;
}
.thankyou img{
	width: 60vh;
}
.text2{
	font-family: 'Kaushan Script', cursive;
	color:#fff;
	font-size: 3.5rem;
}
.thankyou{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.thankyou span{
  display: block;
}
.text1{
	font-family:'Kaushan Script', cursive;
	color: #fff;
  	font-size: 8rem;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 20px;
	position: relative;
	animation: text 3s 1;
}
div.w-50{
        display: inline-block; 
    }
div.img_cont{  
	height: 350px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    }    
img.service{
        max-width: 90%;
        max-height: 90%;
        display: block;
        margin: 0 auto;
    }
@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
@media (max-width: 370px) and (orientation: portrait){
	body{
		height: 120vh;
	}
	#navbarNav{
		font-size: 1.5em;
	}
	#nav-links{
		color: #fff;
	}
	#nav-links:hover{
		color: #6aa740;
	}
	#cover{
		padding-top: 5vh;
		margin-top: 5vh;
	}
	#cover h1{
		font-size: 2.4em;
		padding-right: 5vh;		
	}
	#cover .green_energy{
		font-size: 1.2em;
		padding-top: 53.5vh;
		padding-right: 3vh;
	}
	#cover div.row{
		padding-top: 2vh;
		padding-left: 5px;
	}
	.row div.col-4{
		padding: 0px;
	}
	#cover div.row span{
		font-size: 0.8em;
	}
	#cover i{
		font-size: 1.5rem;
	}
	#about{
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	div.about_content{
		padding-top: 5vh;
	}
	hr{
		width: 90% !important;
	}
	.about_content p{
		padding-top: 3vh;
	}
	.specs_content1 h4{
		margin-top: 5vh;
	}
	.specs_content2 h4:nth-of-type(1){
		margin-top: 15.9vh;
	}
	.specs_content2 h4{
		margin-top: 5vh;
	}
	.specs div.row{
		padding-bottom: 10vh;
	}
	.specs h4{
		border-top: 1px solid gray; 
		width: 5vh;
		padding-top: 3vh;
	}
	.specs .specs_content1 h1{
		font-size: 1.3em;
	}
	.w-50{
		width: 100% !important;
	}
	.testimonial .container-fluid h1{
		font-size: 2.5em;
	}
}
@media (min-width: 371px) and (max-width: 576px) and (orientation: portrait){
	body{
		height: 120vh;
	}
	#navbarNav{
		font-size: 1.5em;
	}
	#nav-links{
	color: #fff;
	}
	#nav-links:hover{
		color: #6aa740;
	}
	#cover{
		padding-top: 10vh;
	}
	#cover h1{
		font-size: 3em;
		padding-right: 3vh;		
	}
	#cover .green_energy{
		font-size: 1.4em;
		padding-top: 54vh;
		padding-right: 3vh;
	}
	#cover div.row{
		padding-top: 2vh;
		padding-left: 5px;
	}
	.row div.col-4{
		padding: 0px;
	}
	#cover div.row span{
		font-size: 1em;
	}
	#cover i{
		font-size: 1.5rem;
	}
	#about{
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	div.about_content{
		padding-top: 5vh;
	}
	hr{
		width: 100% !important;
	}
	.about_content p{
		padding-top: 3vh;
	}
	.specs_content1 h4{
		margin-top: 5vh;
	}
	.specs_content2 h4:nth-of-type(1){
		margin-top: 16vh;
	}
	.specs_content2 h4{
		margin-top: 5vh;
	}
	.specs div.row{
		padding-bottom: 10vh;
	}
	.specs h4{
		border-top: 1px solid gray; 
		width: 5vh;
		padding-top: 3vh;
	}
	.specs .specs_content1 h1{
		font-size: 1.3em;
	}
	.w-50{
		width: 100% !important;
	}
}
@media (min-width: 0px) and (max-width: 576px) and (orientation: landscape){

	body{
		height: 250vh;
	}
	#navbarNav{
		font-size: 1.5em;
	}
	#nav-links{
	color: #fff;
	}
	#nav-links:hover{
		color: #6aa740;
	}
	#cover{
		padding-top: 30vh;
	}
	#cover h1{
		font-size: 2.7em;
		padding-right: 3vh;		
	}
	#cover .green_energy{
		font-size: 1.4em;
		padding-top: 100vh;
		padding-right: 3vh;
	}
	#cover div.row{
		padding-top: 4vh;
		padding-left: 5px;
	}
	.row div.col-4{
		padding: 0px;
	}
	#cover div.row span{
		font-size: 1em;
	}
	#cover i{
		font-size: 1.5rem;
	}
	#about{
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	div.about_content{
		padding-top: 5vh;
	}
	hr{
		width: 55% !important;
	}
	.about_content p{
		padding-top: 3vh;
	}
	.specs_content1 h4{
		margin-top: 5vh;
	}
	.specs_content2 h4:nth-of-type(1){
		margin-top: 20vh;
	}
	.specs_content2 h4{
		margin-top: 5vh;
	}
	.specs div.row{
		padding-bottom: 10vh;
	}
	.specs h4{
		border-top: 1px solid gray; 
		width: 5vh;
		padding-top: 3vh;
	}
	.specs .specs_content1 h1{
		font-size: 1.7em;
	}
	.w-50{
		width: 100% !important;
	}	
}
@media (min-width: 577px) and (max-width: 767px) and (orientation: portrait){

	#navbarNav{
		font-size: 2em;
	}
	#nav-links{
	color: #fff;
	}
	#nav-links:hover{
		color: #6aa740;
	}
	#cover{
		padding-top: 15vh;
	}
	#cover h1{
		font-size: 3.5em;		
	}
	#cover .green_energy{
		font-size: 1.7em;
		padding-top: 43vh;
		padding-right: 3vh;
	}
	#cover div.row{
		padding-top: 4vh;
		padding-left: 5px;
	}
	.row div.col-4{
		padding: 0px;
	}
	#cover div.row span{
		font-size: 1.3em;
	}
	#cover i{
		font-size: 2rem;
	}
	#about{
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	div.about_content{
		padding-top: 5vh;
	}
	hr{
		width: 60% !important;
	}
	.about_content p{
		padding-top: 3vh;
	}
	.specs_content1 h4{
		margin-top: 5vh;
	}
	.specs_content2 h4:nth-of-type(1){
		margin-top: 11.8vh;
	}
	.specs_content2 h4{
		margin-top: 5vh;
	}
	.specs div.row{
		padding-bottom: 10vh;
	}
	.specs h4{
		border-top: 1px solid gray; 
		width: 5vh;
		padding-top: 3vh;
	}
	.specs .specs_content1 h1{
		font-size: 1.3em;
	}
	.w-50{
		width: 100% !important;
	}
}
@media (min-width: 577px) and (max-width: 767px) and (orientation: landscape){

	body{
		height: 250vh;
	}
	#navbarNav{
		font-size: 1.5em;
	}
	#nav-links{
	color: #fff;
	}
	#nav-links:hover{
		color: #6aa740;
	}
	#cover{
		padding-top: 30vh;
	}
	#cover h1{
		font-size: 2.7em;
		padding-right: 3vh;		
	}
	#cover .green_energy{
		font-size: 1.4em;
		padding-top: 110vh;
		padding-right: 3vh;
	}
	#cover div.row{
		padding-top: 4vh;
		padding-left: 5px;
	}
	.row div.col-4{
		padding: 0px;
	}
	#cover div.row span{
		font-size: 1em;
	}
	#cover i{
		font-size: 1.5rem;
	}
	#about{
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	div.about_content{
		padding-top: 5vh;
	}
	hr{
		width: 45% !important;
	}
	.about_content p{
		padding-top: 3vh;
	}
	.specs_content1 h4{
		margin-top: 5vh;
	}
	.specs_content2 h4:nth-of-type(1){
		margin-top: 20vh;
	}
	.specs_content2 h4{
		margin-top: 5vh;
	}
	.specs div.row{
		padding-bottom: 10vh;
	}
	.specs h4{
		border-top: 1px solid gray; 
		width: 5vh;
		padding-top: 3vh;
	}
	.specs .specs_content1 h1{
		font-size: 1.7em;
	}
	.w-50{
		width: 100% !important;
	}	
}
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait){

	#navbarNav{
		font-size: 2em;
	}
	#nav-links{
	color: #fff;
	}
	#nav-links:hover{
		color: #6aa740;
	}
	#cover{
		padding-top: 15vh;
	}
	#cover h1{
		font-size: 4em;
		padding-right: 7vh;
	}
	#cover .green_energy{
		font-size: 2em;
		padding-top: 43vh;
		padding-right: 7vh;
	}
	#cover div.row{
		padding-top: 4vh;
	}
	#cover div.row span{
		font-size: 1.7em;
	}
	#cover i{
		font-size: 2.7rem;
	}
	#products{
		background: url('images/panel1.png') no-repeat;
		background-position: right center; 
		margin: 0px;
	}
	#products div.col-md-5{
		margin-left: -3vh !important;
	}
	#about{
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	div.about_content{
		padding-top: 5vh;
	}
	#products hr{
		width: 20vh !important;
	}
	hr{
		width: 50% !important;
	}
	.about_content p{
		padding-top: 3vh;
	}
	.specs_content1 h4{
		margin-top: 5vh;
	}
	.specs_content2 h4:nth-of-type(1){
		margin-top: 14vh;
	}
	.specs_content2 h4{
		margin-top: 5vh;
	}
	.specs div.row{
		padding-bottom: 10vh;
	}
	.specs h4{
		border-top: 1px solid gray; 
		width: 5vh;
		padding-top: 3vh;
	}
	.specs .specs_content1 h1{
		font-size: 2em;
	}
	#products h1.service_head{
		padding-right: 50vh;
	}
}
@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape){

	body{
		height: 250vh;
	}
	#navbarNav{
		font-size: 1.5em;
	}
	#nav-links{
		color: #fff;
	}
	#nav-links:hover{
		color: #6aa740;
	}
	#cover{
		padding-top: 30vh;
	}
	#cover h1{
		font-size: 3em;
		padding-right: 3vh;		
	}
	#cover .green_energy{
		font-size: 1.4em;
		padding-top: 110vh;
		padding-right: 3vh;
	}
	#cover div.row{
		padding-top: 4vh;
		padding-left: 5px;
	}
	.row div.col-4{
		padding: 0px;
	}
	#cover div.row span{
		font-size: 1em;
	}
	#cover i{
		font-size: 1.5rem;
	}
	#about{
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	div.about_content{
		padding-top: 5vh;
	}
	hr{
		width: 50% !important;
	}
	.about_content p{
		padding-top: 3vh;
	}
	.specs_content1 h4{
		margin-top: 5vh;
	}
	.specs_content2 h4:nth-of-type(1){
		margin-top: 20vh;
	}
	.specs_content2 h4{
		margin-top: 5vh;
	}
	.specs div.row{
		padding-bottom: 10vh;
	}
	.specs h4{
		border-top: 1px solid gray; 
		width: 5vh;
		padding-top: 3vh;
	}
	.specs .specs_content1 h1{
		font-size: 1.7em;
	}
	.w-50{
		width: 100% !important;
	}	
}
@media (min-width: 992px) and (max-width: 1199px) and (orientation: portrait){
	nav.bg-dark{
	background: transparent !important;
	}
	#navbarNav{
		font-size: 2em;
	}
	#cover{
		padding-top: 17vh;
	}
	#cover h1{
		font-size: 5em;
		padding-right: 7vh;
	}
	#cover .green_energy{
		font-size: 2.5em;
		padding-top: 45vh;
		padding-right: 7vh;
	}
	#cover div.row{
		padding-top: 4vh;
	}
	#cover div.row span{
		font-size: 2em;
	}
	#cover i{
		font-size: 3rem;
	}
	#products{
		background: url('images/panel1.png') no-repeat;
		background-position: right center; 
		margin: 0px;
	}
	#products div.col-md-5{
		margin-left: 5vh !important;
	}
	#about{
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	div.about_content{
		padding-top: 5vh;
	}
	hr{
		width: 35% !important;
	}
	.about_content p{
		padding-top: 3vh;
	}
	.specs_content1 h4{
		margin-top: 5vh;
	}
	.specs_content2 h4:nth-of-type(1){
		margin-top: 11.8vh;
	}
	.specs_content2 h4{
		margin-top: 5vh;
	}
	.specs div.row{
		padding-bottom: 10vh;
	}
	.specs h4{
		border-top: 1px solid gray; 
		width: 5vh;
		padding-top: 3vh;
	}
	.specs .specs_content1 h1{
		font-size: 1.3em;
	}

}
@media (min-width: 992px) and (max-width: 1199px) and (orientation: landscape){
	#products{
		background: url('images/panel1.png') no-repeat;
		background-position: right center; 
		margin: 0px;
	}
	#products div.col-md-5{
		margin-left: 10vh !important;
	}
	nav.bg-dark{
	background: transparent !important;
	}
	body{
		height: 200vh;
	}
	#navbarNav{
		font-size: 1.5em;
	}
	#nav-links{
		color: #000;
	}
	#nav-links:hover{
		color: #fff;
	}
	#cover{
		padding-top: 30vh;
	}
	#cover h1{
		font-size: 4em;
		padding-right: 3vh;		
	}
	#cover .green_energy{
		font-size: 1.7em;
		padding-top: 90vh;
		padding-right: 3vh;
	}
	#cover div.row{
		padding-top: 4vh;
		padding-left: 5px;
	}
	.row div.col-4{
		padding: 0px;
	}
	#cover div.row span{
		font-size: 1.3em;
	}
	#cover i{
		font-size: 1.5rem;
	}
	#about{
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	div.about_content{
		padding-top: 5vh;
	}
	hr{
		width: 30% !important;
	}

	.about_content p{
		padding-top: 3vh;
	}
	.specs_content1 h4{
		margin-top: 5vh;
	}
	.specs_content2 h4:nth-of-type(1){
		margin-top: 18vh;
	}
	.specs_content2 h4{
		margin-top: 5vh;
	}
	.specs div.row{
		padding-bottom: 10vh;
	}
	.specs h4{
		border-top: 1px solid gray; 
		width: 5vh;
		padding-top: 3vh;
	}
	.specs .specs_content1 h1{
		font-size: 1.7em;
	}
	.w-50{
		width: 100% !important;
	}		
}
@media (min-width: 1200px) and (orientation: landscape){
	body{
		height: 110vh;
	}
	nav.bg-dark{
	background: transparent !important;
	}
	#navbarNav{
		font-size: 1.4em;
	}
	#cover .green_energy{
		font-size: 1.5em;
		padding-top: 60vh;
		padding-right: 7vh;
	}
	#cover h1{
		font-size: 3.5em;
		padding-right: 7vh;
	}
	#cover div.row{
		padding-top: 5px;
	}
	#cover i{
		font-size: 1.7rem;
	}
	#about{
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	div.about_content{
		padding-top: 5vh;
	}
	hr{
		width: 30% !important;
	}
	.about_content p{
		padding-top: 3vh;
	}
	#products{
		background: url('images/panel1.png') no-repeat;
		background-position: right center; 
		margin: 0px;
	}
	.specs_content1 h4{
		margin-top: 5vh;
	}
	.specs_content2 h4:nth-of-type(1){
		margin-top: 15vh;
	}
	.specs_content2 h4{
		margin-top: 5vh;
	}
	.specs div.row{
		padding-bottom: 10vh;
	}
	.specs h4{
		border-top: 1px solid gray; 
		width: 5vh;
		padding-top: 3vh;
	}
}